out/
*.class

.idea/workspace.xml
.idea/shelf/
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml

~$*.docx

Thumbs.db
Desktop.ini
.DS_Store